# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env
.venv
ENV/
env.bak/
venv.bak/

# Django-related files
db.sqlite3
db.sqlite3-journal
*.log
local_settings.py
config/settings/local.py

# Migrations
**/migrations/*
!**/migrations/__init__.py

# Media & Static files
media/
staticfiles/
static/

# IDE & Editor settings
.idea/
.vscode/

# Python package management
Pipfile
Pipfile.lock
poetry.lock
.pdm.toml
.pdm-python
.pdm-build/

# Temporary files
*.swp
*.swo
*.bak
*~

# Ignore .env files
.env*
!.env.example
